{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <!-- 사용자 프로필 -->
  <p>
    <a href="{% url 'accounts:detail' review.user.pk %}">
      {% if review.user.profile_image %}
        <img src="{{ review.user.profile_image.url }}" alt="작성자 프로필 이미지" style="width: 50px; height: 50px; border-radius: 500px">
      {% endif %}
      {{ review.user.username }}</a>
  </p>
  <!-- 작성 시간 -->
  {% if review.created_string == False %}
  <small>{{ review.created_at|date:'Y-m-d H:i' }}</small>
  {% else %}
  <small>{{ review.created_string }}</small>
  {% endif %}
  <!-- 리뷰 내용 -->
  <p>후기별점:
    {{ star}}</p>
  {% if review.review_image %}
    <img src="{{ review.review_image.url }}" alt="">
  {% endif %}
  <p>{{ review.content }}</p>
  <!-- 수정/삭제 버튼 -->
  <div>
    {% if request.user == review.user %}
      <a href="{% url 'reviews:update' review.pk %}" class="btn">리뷰 수정</a>
      <a href="{% url 'reviews:delete' review.pk %}" class="btn btn2">리뷰 삭제</a>
    {% endif %}
  </div>

  {% comment %} 댓글 {% endcomment %}
  <form action="{% url 'reviews:add_comment' review.pk %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form comment_form %}
    <button type="submit" class="btn">댓글 등록</button>
  </form>
  {% for comment in review.comments.all %}
    <p>
      <a href="{% url 'accounts:detail' comment.user.pk %}">
        {% if comment.user.profile_image %}
        <img src="{{ comment.user.profile_image.url }}" alt="작성자 프로필 이미지" style="width: 25px; height: 25px; border-radius: 500px">
      {% endif %}
        {{ comment.user}}
      </a>
      <span>
        {{ comment.content }}
      </span></p>
    {% if comment.created_string == False %}
      <p class="text-muted">{{ comment.created_at|date:'Y-m-d H:i' }}</p>
    {% else %}
      <p class="text-muted">{{ comment.created_string }}</p>
    {% endif %}
    <a href="{% url 'reviews:delete_comment' review.pk comment.pk %}" class="btn btn2" style="height: 23px;padding: 0px;width: 63px;">댓글 삭제</a>
    {% empty %}
    <h1>아직 댓글이 없습니다.</h1>
  {% endfor %}
{% endblock content %}
