{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center py-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5">
      <div class="bg-tape">
        <h1>리뷰수정</h1>
      </div>
      <div class="my-4">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="수정완료" button_class="btn rounded-pill" %}
        </form>
      </div>
    </div>
  </div>

{% endblock %}