{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load django_bootstrap5 %}

<div class="container mt-5">
  <h2>{{ request.user }}님의 주문내역</h2>

  {% for cart_item in cart_items %}
  <!-- 카드 -->
  <div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ cart_item.snack.snack_image.url }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8 d-flex align-items-center">
        <!-- 주문 정보 -->
        <div class="card-body">
          <h5 class="card-title">상품명:
            {{ cart_item.snack.name }}</h5>
          <p class="card-text">상품가격:
            {{ cart_item.snack.price }}원</p>
          <p class="card-text">주문수량:
            {{ cart_item.quantity }}개</p>
          <p class="card-text">
            총가격:
            {{ cart_item.sub_total }}원 + 배송비
            {{ delivery_fee }}원 =
            {{ billing_amount }}원
          </p>
          <p>(50000원 이상은 배송비: 0원)</p>
        </div>
        <!-- 주문변경 버튼 -->
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <a href="{% url 'carts:my_cart' %}">
              <button class="">변경하기</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% empty %}
  <h4>주문 내역이 없습니다.</h4>
  <a href="{% url 'carts:my_cart' %}">
    <button type="button" class="btn btn-outline-primary btn-lg">나의 장바구니</button>
  </a>
  {% endfor %}
  <!-- 배송지 & 결제수단 -->

</div>
<!-- 주문내역이 없으면 비활성화 -->
{% if cart_items %}
<form action="{% url 'orders:order' %}" name="order_form">
  <div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">배송지</label>
      <input type="text" class="form-control" value="{{ shipping_address }}" style="width:800px" id="shipping_address">
    </div>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">연락처</label>
      <input type="text" class="form-control" value="{{ shipping_phoneNum }}" style="width:800px"
        id="shipping_phoneNum">
    </div>
  </div>
  <button id="order_btn" type="submit" class="btn btn-outline-primary btn-lg me-2">결제</button>

  </div>
</form>
{% endif %}
</div>
<!-- 결제연동 -->

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>

  //   .onsubmit = function () {
  //   var shipping_address = document.getElementById('shipping_address')
  //   var shipping_phoneNum = document.getElementById('shipping_phoneNum')
  //   return false;
  // }

  // console.log(shipping_address.value)
  // console.log(shipping_phoneNum.value)
  const orderBtn = document.getElementById('order_btn')
  orderBtn.addEventListener('click', function (event) {
    event.preventDefault();

    var shipping_address = document.getElementById('shipping_address')
    var shipping_phoneNum = document.getElementById('shipping_phoneNum')

    var IMP = window.IMP;
    var code = "imp64320828";  // FIXME: 가맹점 식별코드
    IMP.init(code);

    // 결제요청
    IMP.request_pay({
      // name과 amount만 있어도 결제 진행가능
      pg: 'html5_inicis', // pg 사 선택
      pay_method: 'card',
      merchant_uid: 'merchant_' + new Date().getTime(),
      name: '주문명:결제테스트',
      amount: 100,
      buyer_name: '{{ request.user }}',
      buyer_email: 'iamport@siot.do',

    }, function (rsp) {
      if (rsp.success) {
        var msg = '결제가 완료되었습니다.';
        msg += '결제 금액 : ' + rsp.paid_amount;
        location.href = "/orders/order/?shipping_address=" + shipping_address.value + "&contact_number=" + shipping_phoneNum.value;

      }
      else {
        var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg

      }
      alert(msg);
    });
  });
</script>
{% endblock %}