{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% load django_bootstrap5 %}

<h2 class="mx-5">{{ request.user }}님의 주문내역</h2>

{% for cart_item in cart_items %}
<!-- 카드 -->
<div class="row justify-content-center">
  <div class="cart_card mb-3">
    <div class="row justify-content-around align-items-start">
      <!-- 이미지 -->
      <div class="col-4 d-flex justify-content-center">
        <div class="cart_card_img d-flex justify-content-center align-items-center">
          <a href="{% url 'snacks:detail' cart_item.snack.id %}">
            {% if cart_item.snack.snack_image %}
            <img src="{{ cart_item.snack.snack_image.url }}" alt="...">
            {% else %}
            <img src="{% static 'images/cookies.png' %}" class="d-block" alt="...">
            {% endif %}
          </a>
        </div>
      </div>
      <!-- 주문정보-->
      <div class="col-8 d-flex align-items-center">
        <!-- 주문 정보 -->
        <div class="card-body">
          <h5 class="card-title">상품명:
            {{ cart_item.snack.name }}</h5>
          <hr>
          <p class="card-text">상품가격:
            {{ cart_item.snack.price|intcomma }}원</p>
          <p class="card-text">주문수량:
            {{ cart_item.quantity }}개</p>
          <p class="card-text">
            상품금액:
            {{ cart_item.sub_total|intcomma }}원
          </p>
        </div>
        <!-- 주문변경 버튼 -->
        <div class="card-body">
          <div class="d-flex justify-content-center">
            <a href="{% url 'carts:my_cart' %}" class="btn">변경하기</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% empty %}
<h4 class="mt-5">주문 내역이 없습니다.</h4>
<a href="{% url 'carts:my_cart' %}">
  <button type="button" class="btn btn-outline-primary btn-lg">나의 장바구니</button>
</a>
{% endfor %}
<!-- 배송지 & 결제수단 -->

<!-- 주문내역이 없으면 비활성화 -->
{% if cart_items %}
<div class="d-flex justify-content-center mb-5">
  <form action="{% url 'orders:order' %}" name="order_form">
    <div class="d-grid flex-wrap gap-2 d-md-flex justify-content-center">
      <div class="mb-3 border rounded-pill text-center pt-3" style="width: 45%;">
        <p>합계금액 {{ total_price|intcomma }} + 배송비
          {{ delivery_fee|intcomma }}원 =
          총 결제금액{{ billing_amount|intcomma }}원</p>
        <p>(50000원 이상 또는 활동지수 1이상 배송비: 0원)</p>

      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">배송지</label>
        <input type="text" class="form-control" value="{{ shipping_address }}" style="width:800px"
          name="shipping_address" required >
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">연락처</label>
        <input type="text" class="form-control" value="{{ shipping_phoneNum }}" style="width:800px"
          name="shipping_phoneNum" required >
      </div>
    </div>
    <div class="d-flex justify-content-center mb-5">
      <button id="order_btn" type="submit" class="btn" style="width: 200px;">결제</button>
    </div>
  </form>
</div>
{% endif %}

<!-- 결제연동

<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="http://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>
<script>

  //   .onsubmit = function () {
  //   var shipping_address = document.getElementById('shipping_address')
  //   var shipping_phoneNum = document.getElementById('shipping_phoneNum')
  //   return false;
  // }

  // console.log(shipping_address.value)
  // console.log(shipping_phoneNum.value)
  const orderBtn = document.getElementById('order_btn')
  orderBtn.addEventListener('click', function (event) {
    event.preventDefault();

    var shipping_address = document.getElementById('shipping_address')
    var shipping_phoneNum = document.getElementById('shipping_phoneNum')

    var IMP = window.IMP;
    var code = "imp64320828";  // FIXME: 가맹점 식별코드
    IMP.init(code);

    // 결제요청
    IMP.request_pay({
      // name과 amount만 있어도 결제 진행가능
      pg: 'html5_inicis', // pg 사 선택
      pay_method: 'card',
      merchant_uid: 'merchant_' + new Date().getTime(),
      name: '주문명:결제테스트',
      amount: 100,
      buyer_name: '{{ request.user }}',
      buyer_email: 'iamport@siot.do',

    }, function (rsp) {
      if (rsp.success) {
        var msg = '결제가 완료되었습니다.';
        msg += '결제 금액 : ' + rsp.paid_amount;
        location.href = "/orders/order/?shipping_address=" + shipping_address.value + "&contact_number=" + shipping_phoneNum.value;

      }
      else {
        var msg = '결제에 실패하였습니다. 에러내용 : ' + rsp.error_msg

      }
      alert(msg);
    });
  });
</script> -->
{% endblock %}