{% extends 'base.html' %}
{% load humanize %}
{% block content %}
  {% load django_bootstrap5 %}
  <div class="container py-5 mt-5">
    <h1>{{ request.user.username }}
      님의 결제내역 | 누적금액:{{ accumulated_amount|intcomma }}원</h1>

    <!-- 결제완료 주문 -->
    <h3 class="mt-5">결제 내역</h3>
    <table class="table text-center complete_orders">
      <thead class="thead thead-dark">
        <td scope="col">No.</td>
        <td scope="col">상품</td>
        <td scope="col">수량</td>
        <td scope="col">주문금액(배송비 미포함)</td>
        <td scope="col">배송지</td>
        <td scope="col">연락처</td>
        <td scope="col">주문 상태</td>
        <td scope="col">주문 날짜</td>
      </thead>
      <tbody class="">
        {% for order in complete_orders %}
          <tr>
            <td>{{ order.id}}</td>
            <td>{{ order.snack }}</td>
            <td>{{ order.quantity }}</td>
            <td>{{ order.total|intcomma }}원</td>
            <td>{{ order.shipping_address }}</td>
            <td>{{ order.contact_number }}</td>
            <td>{{ order.order_status }}</td>
            <td>{{ order.register_data }}
              |
              <a href="{% url 'orders:delete' order.pk %}">주문취소</a>
              |
              <a href="{% url 'orders:update' order.pk %}">주문 변경</a>
              |
              <a href="{% url 'reviews:create' order.snack.pk %}">리뷰 작성</a>
            </td>

          </tr>
        {% endfor %}

      </tbody>
    </table>

    <!-- 취소 주문 -->
    <h3 class="mt-5">취소 내역</h3>
    <table class="table text-center cancel_orders mt-5">
      <thead class="thead thead-dark">
        <td scope="col">No.</td>
        <td scope="col">상품</td>
        <td scope="col">수량</td>
        <td scope="col">취소금액(배송비 미포함)</td>
        <td scope="col">연락처</td>
        <td scope="col">주문 상태</td>
        <td scope="col">취소날짜</td>
      </thead>
      <tbody class="">
        {% for order in cancel_orders %}
          <tr>
            <td>{{ order.id}}</td>
            <td>{{ order.snack }}</td>
            <td>{{ order.quantity }}</td>
            <td>-{{ order.total|intcomma }}원</td>
            <td>{{ order.contact_number }}</td>
            <td>{{ order.order_status }}</td>
            <td>{{ order.register_data }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

  </div>
{% endblock %}