{% extends 'base.html' %}

{% block content %}
  <div class="row d-flex py-5">
    <div class="d-flex flex-column shadow p-5 rounded-5">
      <p class="fs-2 mt-3">F&Q - 자주 묻는 질문</p>
      <hr>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">주문은 어떻게 하나요?</span>
        </p>
        <p>- 회원가입 후 로그인 해주세요.</p>
        <p>- 원하시는 상품을 장바구니에 담습니다.</p>
        <p>- 원하시는 결제 방법으로 결제하시면 판매자가 확인 후 상품을 보내드립니다.</p>
      </div>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">주문 취소는 어떻게 하나요?</span>
        </p>
        <p>- 배송준비중 상태 이전에서만 주문 취소가 가능합니다.</p>
        <p>- '마이페이지 - 주문 내역' 에서 '주문 취소' 버튼을 누르시면 주문이 취소 됩니다.</p>
      </div>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">배송지/연락처 변경은 어떻게 하나요?</span>
        </p>
        <p>- 배송준비중 상태 이전에서만 배송지/연락처 변경이 가능합니다.</p>
        <p>- '마이페이지- 주문 내역' 에서 '배송지정보 변경' 버튼을 누르시면 배송지, 연락처를 변경 할 수 있습니다.</p>
      </div>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">상품이 불량일 경우 교환/반품은 어떻게 해야 하나요?</span>
        </p>
        <p>- 아래 관리자에게 상품 사진/불량 상태 등을 상세하게 보내주세요.</p>
        <p>- 주문 시 입력해주셨던 연락처를 알려주시면 더욱 빠르게 확인이 가능합니다.</p>
      </div>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">고객센터 운영 시간은 어떻게 되나요?</span>
        </p>
        <p>- 9:00 ~ 18:00 입니다.
          <small>(토, 일, 공휴일 제외)</small>
        </p>
      </div>
      <br>
      <div>
        <p>
          Q.
          <span style="background-color: #F6D8CE;">문의는 어디로 해야 하나요?</span>
        </p>
        <div>
          <div class="d-flex">
            <div class="mx-2">
              <a href="https://github.com/mororong9" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/58835265?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">강문주</p>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://github.com/milipara" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/108648405?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">박상준</p>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://github.com/kinzinzz" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/107156650?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">이동영</p>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://github.com/code-sum" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/106902415?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">이수경</p>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://github.com/leesc8408" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/108647998?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">이순철</p>
              </a>
            </div>
            <div class="mx-2">
              <a href="https://github.com/han-gaeul" class="d-flex flex-column"><img src="https://avatars.githubusercontent.com/u/103566335?v=4" alt="" style="width: 50px; height: 50px; border-radius: 500px">
                <p class="d-flex justify-content-center text-dark">한가을</p>
              </a>
            </div>
          </div>
          <p>- 위 관리자에게 문의 주시면 빠른 시일 내에 답변 드리겠습니다.</p>
        </div>
        <br>
      </div>
    </div>
  </div>

{% endblock content %}