{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex py-5">

    <!-- 프로필 전체 영역 -->
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5" style="background-color: #FAF1D6">

      <!-- 프로필 상단 영역 -->
      <div class="d-flex flex-row">
        <!-- 프로필 이미지 영역 -->
        <div class="me-5">
          {% if user.profile_image %}
            <img src="{{ user.profile_image.url }}" class="rounded-circle" alt="profile_image">
          {% else %}
            <img src="{% static 'images/cookieman.png' %}" style="width: 200px;" alt="default_profile_image">
          {% endif %}
        </div>
        <!-- 프로필 상단/이미지 영역 제외 나머지 -->
        <div class="d-flex flex-column">
          <!-- username / 프로필편집 버튼 / 팔로우&팔로우취소 버튼 -->
          <div class="d-flex flex-row mb-3">
            <div style="font-weight: bold; font-size: 35px;">{{ user.username }}</div>
            <div class="d-flex align-items-center ms-3">
              <!-- 본인 프로필 페이지 접속했을 때만 보이는 프로필수정 버튼 -->
              {% if request.user == user %}
                <a href="{% url 'accounts:update' user.pk %}" class="btn rounded-pill">프로필수정</a>
              {% else %}
                <form id="follow-form" data-user-id="{{ user.pk }}">
                  {% csrf_token %}
                  {% if request.user in user.followers.all %}
                    <input type="submit" class="btn btn2" value="팔로우 취소">
                  {% else %}
                    <input type="submit" class="btn" value="팔로우">
                  {% endif %}
                </form>
              {% endif %}
            </div>
          </div>
          <!-- 리뷰 / 팔로워 / 팔로우 집계 -->
          <div class="d-flex flex-row mb-4">
            <div class="me-5" style="font-size: 20px;">활동지수
              <b>{{ active_index }}</b>
            </div>
            <!-- 팔로워 박스 누르면 팔로워 목록 모달로 이동 -->
            <div class="me-5" style="font-size: 20px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#exampleModal">팔로워
              <b id="followers-count">{{ user.followers.all|length }}</b>
            </div>
            <div style="font-size: 20px;">팔로잉
              <b id="followings-count">{{ user.followings.all|length }}</b>
            </div>
          </div>
          <!-- 본인 프로필 페이지 접속했을 때만 보이는 주소 -->
          <div class="d-flex flex-row">
            {% if request.user == user %}
              <h4 class="me-3">
                <i class="bi bi-house"></i>
              </h4>
              <p>{{ user.address }}</p>
            {% endif %}
          </div>
          <!-- 본인 프로필 페이지 접속했을 때만 보이는 연락처 -->
          <div class="d-flex flex-row">
            {% if request.user == user %}
              <h4 class="me-3">
                <i class="bi bi-telephone"></i>
              </h4>
              <p>{{ user.phone_num }}</p>
            {% endif %}
          </div>
          <!-- 관리자가 관리자 프로필 접속했을때만 보이는 카테고리/제품등록 버튼 -->
          <div class="mt-3">
            {% if request.user == user and request.user.is_staff %}
              <!-- 카테고리 등록 -->
              <a href="{% url 'snacks:category_create' %}" class="btn rounded-pill me-2" type="submit">카테고리 등록</a>
              <!-- 제품등록 -->
              <a href="{% url 'snacks:create' %}" class="btn rounded-pill me-2" type="submit">제품 등록</a>
              <!-- 주문내역 관리 -->
              <a href="{% url 'orders:order_list' %}" class="btn rounded-pill">주문내역 관리</a>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- 프로필 하단 영역 -->
      <div class="container d-flex flex-column bg-white rounded-5 mt-5">
        <div class="menu navbar-nav d-flex flex-row justify-content-center py-4">
          <li>
            <a type="button" id="myReview" class="pe-2 text-black">
              <h5>
                <i class="bi bi-instagram"></i>
                리뷰</h5>
            </a>
          </li>/
          <li>
            <a type="button" id="myComment" class="pe-2 text-black">
              <h5>
                <i class="bi bi-chat-square-quote"></i>
                댓글</h5>
            </a>
          </li>/
          <li>
            <a type="button" id="myOrder" class="text-black">
              <h5>
                <i class="bi bi-file-earmark-text"></i>
                구매내역</h5>
            </a>
          </li>
        </div>

        <!-- 리뷰 버튼 누르면 나오는 목록 -->
        <div id="myReviewResult" style="display: none; padding-bottom: 2rem;">
          <div class="d-flex flex-column text-center">
            <h4 class="fw-bold">
              <span style="background-color: #D9F1F1;">{{ user.username }}</span>
              님이 작성하신 리뷰</h4>
            <p class="text-muted">{{ user_reviews.count }}개를 작성하였습니다.</p>
            <div class="d-flex flex-wrap mt-3">
              {% for review in user_reviews %}
                <div class="col-3 mt-1">
                  <div class="banner_img" style="cursor: pointer;" onclick="location.href='{% url 'reviews:detail' review.pk %}'">
                    {% if review.review_image %}
                      <img src="{{ review.review_image.url }}" alt="review_img" class="review-image-css">
                    {% else %}
                      <img src="{% static 'images/no-camera.png' %}" alt="no_review_img" class="review-image-css">
                    {% endif %}
                    <p class="hover_text">
                      {% if review.created_string == False %}
                        <b>{{ review.created_at|date:'Y-m-d' }}</b>
                        <br>
                        <span>{{ review.content }}</span>
                      {% else %}
                        <b>{{ review.created_string }}</b>
                        <br>
                        <span>{{ review.content }}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- 댓글 버튼 누르면 나오는 목록 -->
        <div id="myCommentResult" style="display: none; padding-bottom: 2rem;">
          <div class="d-flex flex-column text-center">
            <h4 class="fw-bold">
              <span style="background-color: #D9F1F1;">{{ user.username }}</span>
              님이 작성하신 댓글</h4>
            <p class="text-muted">{{ user_comments.count }}개를 작성하였습니다.</p>
            <div class="mt-2">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">댓글내용</th>
                    <th scope="col">작성시간</th>
                  </tr>
                </thead>
                <tbody>
                  {% for comment in user_comments %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>
                        <a href="{% url 'reviews:detail' comment.review_id %}" style="color: #81DAF5;">{{ comment.content }}</a>
                      </td>
                      <td>
                        {% if comment.created_string == False %}
                          <span>{{ comment.created_at|date:'Y-m-d' }}</span>
                        {% else %}
                          <span>{{ comment.created_string }}</span>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- 구매내역 누르면 나오는 목록 (본인 프로필 페이지 접속했을 때만 보이기) -->
        <div id="myOrderResult" style="display: none; padding-bottom: 2rem;">
          <div class="d-flex flex-column text-center">
            <h4 class="fw-bold">
              <span style="background-color: #D9F1F1;">{{ user.username }}</span>
              님이 구매하신 상품</h4>
            {% if request.user == user %}
              <p class="text-muted">{{ user_orders.count }}개를 구매하였습니다.</p>
              <div class="mt-2">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">No.</th>
                      <th scope="col">상품이름</th>
                      <th scope="col">주문상태</th>
                      <th scope="col">주문날짜</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in user_orders %}
                      <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                          <a href="{% url 'orders:detail' order.user_id %}" style="color: #81DAF5;">{{ order.snack }}</a>
                        </td>
                        <td>
                          <span>{{ order.order_status }}</span>
                        </td>
                        <td>
                          <span>{{ order.register_data|date:'Y-m-d' }}</span>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p class="text-muted">본인만 확인할 수 있어요!</p>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- 팔로워 리스트 모달 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">팔로워</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex flex-column">
          {% for follower in user_followers %}
            <div class="my-1">
              <a href="{% url 'accounts:detail' follower.pk %}">
                {% if follower.profile_image %}
                  <img src="{{ follower.profile_image.url }}" style="width: 50px; border-radius: 50px;" alt="follower_profile">
                {% else %}
                  <img src="{% static 'images/cookieman.png' %}" style="width: 50px;" alt="default_follower_profile">
                {% endif %}
                <span class="ms-2" style="color: black;">{{ follower.username }}</span></a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <!-- 팔로우/팔로우취소 비동기 처리 -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value

      form
      .addEventListener('submit', function (event) {
        event.preventDefault()
        const userId = event
          .target
          .dataset
          .userId

          axios({
            method: 'post',
            url: `/accounts/${userId}/follow/`,
            headers: {
              'X-CSRFToken': csrftoken
            }
          })
          .then((response) => {
            const isFollowed = response.data.is_followed
            const followBtn = document.querySelector('#follow-form > input[type=submit]')
            if (isFollowed === true) {
              followBtn.value = '팔로우 취소'
              followBtn
                .classList
                .add('btn2')
            } else {
              followBtn.value = '팔로우'
              followBtn
                .classList
                .add('btn')
              followBtn
                .classList
                .remove('btn2')
            }
            const followersCountTag = document.querySelector('#followers-count')
            const followingsCountTag = document.querySelector('#followings-count')
            const followersCount = response.data.followers_count
            const followingsCount = response.data.followings_count
            followersCountTag.innerText = followersCount
            followingsCountTag.innerText = followingsCount
          })
          .catch((error) => {
            console.log(error.response)
          })
        });
  </script>

  <!-- 프로필 하단 영역 클릭할 때마다 jQuery 처리 -->
  <script>
    $('#myReview').click(function () {
      if (($('#myReviewResult').css("display") === "none") && ($('#myCommentResult').css("display") === "none") && ($('#myOrderResult').css("display") === "none")) {
        $('#myCommentResult').hide();
        $('#myOrderResult').hide();
        $('#myReviewResult').show();
      } else if (($('#myReviewResult').css("display") === "none") && ($('#myCommentResult').css("display") !== "none") && ($('#myOrderResult').css("display") === "none")) {
        $('#myCommentResult').hide();
        $('#myOrderResult').hide();
        $('#myReviewResult').show();
      } else if (($('#myReviewResult').css("display") === "none") && ($('#myCommentResult').css("display") === "none") && ($('#myOrderResult').css("display") !== "none")) {
        $('#myCommentResult').hide();
        $('#myOrderResult').hide();
        $('#myReviewResult').show();
      } else {
        if ($('#myReviewResult').css("display") !== "none") {
          $('#myReviewResult').hide();
        } else {
          $('#myReviewResult').show();
        }
      }
    });

    $('#myComment').click(function () {
      if (($('#myCommentResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myOrderResult').css("display") === "none")) {
        $('#myReviewResult').hide();
        $('#myOrderResult').hide();
        $('#myCommentResult').show();
      } else if (($('#myCommentResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myOrderResult').css("display") === "none")) {
        $('#myReviewResult').hide();
        $('#myOrderResult').hide();
        $('#myCommentResult').show();
      } else if (($('#myCommentResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myOrderResult').css("display") !== "none")) {
        $('#myReviewResult').hide();
        $('#myOrderResult').hide();
        $('#myCommentResult').show();
      } else {
        if ($('#myCommentResult').css("display") !== "none") {
          $('#myCommentResult').hide();
        } else {
          $('#myCommentResult').show();
        }
      }
    });

    $('#myOrder').click(function () {
      if (($('#myOrderResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myCommentResult').css("display") === "none")) {
        $('#myReviewResult').hide();
        $('#myCommentResult').hide();
        $('#myOrderResult').show();
      } else if (($('#myOrderResult').css("display") === "none") && ($('#myReviewResult').css("display") !== "none") && ($('#myCommentResult').css("display") === "none")) {
        $('#myReviewResult').hide();
        $('#myCommentResult').hide();
        $('#myOrderResult').show();
      } else if (($('#myOrderResult').css("display") === "none") && ($('#myReviewResult').css("display") === "none") && ($('#myCommentResult').css("display") !== "none")) {
        $('#myReviewResult').hide();
        $('#myCommentResult').hide();
        $('#myOrderResult').show();
      } else {
        if ($('#myOrderResult').css("display") !== "none") {
          $('#myOrderResult').hide();
        } else {
          $('#myOrderResult').show();
        }
      }
    });
  </script>
{% endblock script %}
