{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}

{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center py-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5">
      <div class="bg-tape">
        <h1>로그인</h1>
      </div>
      <div class="my-4">
        <form action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="로그인" button_class="btn rounded-pill" %}
        </form>
        <div class="mt-5">
          <h4 class="d-flex justify-content-center">회원가입 없이 소셜 로그인 하기</h4>
          <div class="d-flex justify-content-around mt-3">
            <!-- <a href="{% url 'accounts:login' %}google" class="btn rounded-pill"> <i class="bi bi-google"></i> 구글</a> -->
            <a href="{% url 'accounts:login' %}kakao" class="btn rounded-pill">
              <i class="bi bi-chat-dots-fill"></i>
              카카오</a>
            <a href="{% url 'accounts:login' %}naver" class="btn rounded-pill">
              <i class="bi bi-link-45deg"></i>
              네이버</a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}