{% extends 'base.html' %}
{% load static %}

{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center py-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5">
      <div class="bg-tape">
        <h1>로그인</h1>
      </div>
      <div class="my-4">
        <form action="" method="POST" class="mb-4">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% bootstrap_button button_type="submit" content="로그인" button_class="btn rounded-pill" %}
        </form>
        <hr>
        <div class="mt-4">
          <h4 class="d-flex justify-content-center">간편 로그인</h4>
          <div class="d-flex flex-column text-center mt-3">
            <a href="{% url 'accounts:login' %}google" class="button button--social-login button--google">
              <i class="bi bi-google"></i>
              <span class="ms-2">구글 로그인</span></a>
            <a href="{% url 'accounts:login' %}kakao" class="mb-2">
              <img src="{% static 'images/kakao_login.png' %}" alt="kakao"></a>
            <a href="{% url 'accounts:login' %}naver">
              <img src="{% static 'images/naver_login.png' %}" alt="naver"></a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}