{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center pt-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-3">
      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="변경완료" button_class="btn rounded-pill" %}
      </form>
    </div>
  </div>

{% endblock %}