{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center py-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5">
      <h1>회원정보 수정</h1>
      <div class="my-4">
        <form action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% bootstrap_form form %}
          <p style="font-size:15px;" class='text-end'>비밀번호 변경을 원하시나요?
            <span>
              <a href="{% url 'accounts:passwordchange' user.pk %}" class="btn btn-sm rounded-pill me-2" style="margin-left:10px;">비밀번호 변경</a></span></p>
          {% bootstrap_button button_type="submit" content="수정완료" button_class="btn rounded-pill" %}
        </form>
      </div>
      <!-- 회원탈퇴 -->
      <a href="{% url 'accounts:delete' user.pk %}" style="font-size: 15px; text-decoration: none; color: #949494;">회원탈퇴</a>
    </div>
  </div>

{% endblock %}