{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center align-items-center py-5">
    <div class="d-flex flex-column justify-content-center align-items-center shadow p-5 rounded-5">
      <div class="bg-tape">
        <h1>카테고리</h1>
      </div>
      <div class="my-4">
        <form action="" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn" type="submit">등록완료</button>
        </form>
      </div>
    </div>
  </div>

{% endblock %}