{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  {% load django_bootstrap5 %}

  <!-- 권한제한 메시지 -->
  {% if messages %}
    <div class="alert alert-danger my-5" role="alert">
      {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
          <li>{{ message.message }}</li>
        </ul>
      {% endfor %}
    </div>
  {% endif %}

  <section class="row gx-3">
    <!--카테고리/제품명/제품이미지-->
    <h4 class="mx-2">카테고리 >
      {{ snack.category }}</h4>

    <div class="col-lg-7">
      <div class="d-flex mx-4 mt-3 align-items-center">
        <h1>{{ snack.name }}</h1>
        <!--상품 찜하기 , 찜하기 취소-->
        <h4 class="mx-4" style="color: #FDAFAB;">
          {% if request.user in snack.likes.all %}
            <i class="bi bi-bookmark-heart-fill" id="likeBtn" data-snack-id="{{ snack.pk }}"></i>
          {% else %}
            <i class="bi bi-bookmark-heart" id="likeBtn" data-snack-id="{{ snack.pk }}"></i>
          {% endif %}
          <span id="like-count">{{ snack.likes.count}}</span>
        </h4>
      </div>
      <div class="row justify-content-center">
        <div class="wrap mx-5" id="magny">
          {% if snack.snack_image %}
            <img class="target" src="{{ snack.snack_image.url }}" alt="{{ snack.name }}_이미지">
          {% else %}
            <img src="{% static 'images/cookies.png' %}" class="d-block target" alt="...">
          {% endif %}
        </div>
      </div>
    </div>

    <!--별점평균/제품 콘텐츠-->
    <div class="col-lg-5 mb-5 mt-5 row">
      <div class="d-flex justify-content-between">
        <h4>{{ avg_star }}
          {{ snack_avg|floatformat:1 }}</h4>
        <!-- 관리자 버튼 -->
        <h4 class="d-grid gap-2 d-md-flex justify-content-md-end">
          {% if request.user.is_staff %}
            <!-- 제품수정 -->
            <a href="{% url 'snacks:update' snack.pk %}" style="color: #B6E3E9;">
              <i class="bi bi-pencil-square"></i>
            </a>
            <!-- 제품삭제 -->
            <a href="{% url 'snacks:delete' snack.pk %}" style="color: red;">
              <i class="bi bi-trash"></i>
            </a>
          {% endif %}
        </h4>
      </div>
      <table class="table" style="font-size: 20px;">
        <tbody>
          <tr>
            <th class="col-3">제품 설명</th>
            <td class="col-9">{{ snack.content }}</td>
          </tr>
          <tr>
            <th class="col-3">가격</th>
            <td class="col-9">{{ snack.price|intcomma }}</td>
          </tr>
          <tr>
            <th class="col-3">배송비</th>
            <td class="col-9">3,000원</td>
          </tr>
          <tr>
            <th class="col-3">재고</th>
            <td class="col-9">{{ snack.stock }}개</td>
          </tr>
        </tbody>
      </table>
      <div class="Cart_form">
        {% if snack.stock != 0 %}
        <form method="POST" action="{% url 'carts:add_cart' snack.pk %}">
          {% csrf_token %}
          {% bootstrap_form form %}

          <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button type="submit" class="btn">바로 주문</button>
            <button type="submit" class="btn">장바구니에 담기</button>
          </div>
        </form>
        {% else %}
        <div class="d-grid gap-2 d-md-flex justify-content-center">
        
          <h3 class="px-2 badge badge-dark" style="margin-left:5px;padding:5px;font-size:25px">품절</h3>
        </div>
        {% endif %}
      </div>
    </div>
    <!-- 리뷰 -->
    <div>

      <!-- 리뷰 작성 버튼 -->

      <div class="d-flex justify-content-end mb-5">
        <a href="{% url 'reviews:create' snack.pk %}" class="btn rounded-pill">리뷰쓰기</a>
      </div>
      <!--리뷰 카드-->
      <!--for문 스낵의 모든 리뷰-->
      {% for review in reviews %}
        <div class="row justify-content-center">
          <div class="review_card py-5">
            <a href="{% url 'reviews:detail' review.pk %}" class="row text-dark justify-content-around">
              <div class="col-7">
                <div>
                  <!-- 리뷰별 별점 -->
                  {% if review.grade == 5 %}
                    <h4>⭐⭐⭐⭐⭐</h4>
                  {% elif review.grade == 4 %}
                    <h4>⭐⭐⭐⭐</h4>
                  {% elif review.grade == 3 %}
                    <h4>⭐⭐⭐</h4>
                  {% elif review.grade == 2 %}
                    <h4>⭐⭐</h4>
                  {% elif review.grade == 1 %}
                    <h4>⭐</h4>
                  {% endif %}
                </div>
                <!-- 유저 프로필 불러오기 -->
                <div class="d-flex align-items-center mt-3">
                  {% if review.user.profile_image %}
                    <img src="{{ review.user.profile_image.url }}" style="width: 50px; height: 50px; border-radius: 500px" alt="작성자 프로필 이미지">
                  {% else %}
                    <img src="{% static 'images/cookieman.png' %}" style="width: 50px; height: 50px;" alt="default_profile_image">
                  {% endif %}
                  <h3 class="mx-3 d-flex align-items-center my-0">
                    {{ review.user.username }}</h3>
                </div>
                <div class="d-flex justify-content-center mt-3">
                  <!-- 리뷰 내용 -->
                  <div class="row">
                    <div class="card_content">
                      <h5>{{ review.content}}</h5>
                    </div>
                    <!-- 댓글 개수 -->
                    <div class="d-flex justify-content-end mt-3 me-5">
                      <p>
                        {% if review.created_string == False %}
                          <span>{{ review.created_at|date:' y-m-d="Y-m-d" H:i' }}</span>
                        {% else %}
                          <span>{{ review.created_string }}</span>
                        {% endif %}
                        작성
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-5" style="display: table; width:300px; height: 300px;">
                <div style="display: table-cell; vertical-align:middle;">
                  {% if review.review_image %}
                    <img src="{{ review.review_image.url }}" style="width:100%;" alt="상품후기 사진">
                  {% else %}
                    <img src="{% static 'images/no-camera.png' %}" style="width: 50px; height: 50px; border-radius: 500px" alt="default_profile_image">
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
        </div>
        {% empty %}
        <h3>아직 작성된 리뷰가 없습니다.</h3>
      {% endfor %}
      <!--for문 종료-->
    </section>

  {% endblock content %}
  {% block script %}
    <!-- 좋아요 비동기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/좋아요비동기.js' %}"></script>
    <!-- 디테일 이미지 돋보기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/Magnify.js' %}"></script>

  {% endblock script %}
