{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  {% load django_bootstrap5 %}

  <!-- 권한제한 메시지 -->
  {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
      {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
          <li>{{ message.message }}</li>
        </ul>
      {% endfor %}
    </div>

  {% endif %}
  {% if request.user.is_staff %}
    <!-- 제품수정 -->
    <a href="{% url 'snacks:update' snack.pk %}" class="btn btn-light">제품 수정</a>
    <!-- 제품삭제 -->
    <a href="{% url 'snacks:delete' snack.pk %}" class="btn btn-danger">제품 삭제</a>
  {% endif %}

  <section class="row gx-3">
    <!--카테고리/제품명/제품이미지-->
    <h6 class="mx-2">카테고리>
      {{ snack.category }}</h6>
    <!--상품 좋아요 , 좋아요 취소-->
    {% if request.user in snack.likes.all %}
      <a class="no_like_btn" href="{% url 'snacks:likes' snack.pk %}">좋아요 취소</a>
    {% else %}
      <a class="like_btn" href="{% url 'snacks:likes' snack.pk %}">좋아요</a>
    {% endif %}

    <div class="col-lg-7">
      <h2 class="mx-4 mb-5">{{ snack.name }}</h2>
      <div class="wrap mx-5">
        <img class="target" src="{{ snack.snack_image.url }}" alt="{{ snack.name }}_이미지">
      </div>
    </div>
  </div>
  <!--별점평균/제품 콘텐츠-->
  <div class="col-lg-5 mb-5 mt-5">
    {% for key,value in star_dict.items %}
      {% if key == star_avg %}
      <h4>평균별점: {{ value }}</h4>
      {% endif %}
    {% endfor %}
    <table class="table">
      <tbody>
        <tr>
          <th class="col-3">제품 설명</th>
          <td class="col-9">{{ snack.content }}</td>
        </tr>
        <tr>
          <th class="col-3">가격</th>
          <td class="col-9">{{ snack.price|intcomma }}</td>
        </tr>
        <tr>
          <th class="col-3">배송비</th>
          <td class="col-9">3,000원</td>
        </tr>
        <tr>
          <th class="col-3">재고</th>
          <td class="col-9">{{ snack.stock }}개</td>
        </tr>
      </tbody>
    </table>
    <div class="Cart_form">
      <form method="POST" action="{% url 'carts:add_cart' snack.pk %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn">바로 주문</button>
          <button type="submit" class="btn">장바구니에 담기</button>
        </div>
      </form>
    </div>
  </div>
  <!-- 리뷰 -->
  <div>
  <!-- 리뷰 작성 버튼 -->
    <div class="d-flex justify-content-end">
      <a href="{% url 'reviews:create' snack.pk %}">
        <button type="button" class="btn review_btn">리뷰작성</button>
      </a>
    </div>
    <!--리뷰 카드-->
    {% for review in reviews %}
    <div class="row justify-content-center">
      <div class="review_card m-4 pt-5">
        <a href="{% url 'reviews:detail' review.pk %}" class="row text-black">
          <div class="col-7">
            <!-- 별점 불러오기 -->
            {% for key,value in star_dict.items %}
              {% if key == review.grade %}
                <h4 class="mx-2">후기별점: {{ value }}</h4>
              {% endif %}
            {% endfor %}
            <!-- 유저 프로필 불러오기 -->
            {% for user in users %}
              {% if user.id == review.user_id %}
              <div class="d-flex px-5">
                <img src="{{ user.profile_image.url }}" alt="작성자 프로필 이미지">
                <h3 class="mx-3">작성자: {{ user.username }}</h3>
              </div>  
              {% endif %}
            {% endfor %}
            <h2 class="text-center m-3">{{ review.content}}</h2>
          </div>
          <div class="col-5 text-center" style="display: table; width:400px; height: 350px;">
            <div style="display: table-cell; vertical-align:middle;">
              {% if review.review_image %}
              <img src="{{ review.review_image.url }}" style="width:100%;" alt="상품후기 사진">
              {% endif %}
            </div>
          </div>
        </a>
      </div>
      <!--리뷰 카드-->
      <!--for문 스낵의 모든 리뷰-->
      {% for review in reviews %}
        <div class="row justify-content-center">
          <div class="review_card m-4 pt-5">
            <a href="{% url 'reviews:detail' review.pk %}" class="row">
              <div class="col-7">
                <h4>별점</h4>
                <p>{{ review.content}}
                  <!-- 댓글 개수 -->
                  <span>
                    {% if review.comments %}
                      [{{ review.comments.count }}]
                    {% endif %}
                  </span>
                </p>
                <!-- 유저 프로필 불러오기 -->
                {% for user in users %}
                  {% if user.id == review.user_id %}
                    <h3>{{ user.username }}</h3>
                    <img src="{{ user.profile_image.url }}" alt="작성자 프로필 이미지">
                  {% endif %}
                {% endfor %}
              </div>
              <div class="col-5 text-center" style="display: table; width:400px; height: 350px;">
                <div style="display: table-cell; vertical-align:middle;">
                  {% if review.review_image %}
                    <img src="{{ review.review_image.url }}" style="width:100%;" alt="상품후기 사진">
                  {% endif %}
                </div>
              </div>
            </a>
            <p class="position-absolute bottom-0 end-0 mx-3">작성:
              {% if review.created_string == False %}
                <small>{{ review.created_at|date:'Y-m-d H:i' }}</small>
              {% else %}
                <small>{{ review.created_string }}</small>
              {% endif %}
              | 수정:{{ review.updated_at|date:'Y-m-d H:i' }}</p>
          </div>
        </div>
        {% empty %}
        <h3>아직 작성된 리뷰가 없습니다.</h3>
      {% endfor %}
      <div class="col-12"></div>
      <!--for문 종료-->
    </div>
  </section>

  <!-- 디테일 이미지 돋보기 -->
{% endblock content %}
{% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static "js/Magnify.js" %}"></script>
{% endblock script %}
