{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% load django_bootstrap5 %}


<!--사이드바 시작 -->
<div class="sidebar" style="border-radius: 3%;">
    <!--menu item-->
    <br>
    <h2 style="text-align:center; background-color:#FAD4AE">카테고리 선택</h2>
    <div id="catebar"><br><br>
        <!-- 사이드바 카테고리 -->
        <a href="{% url 'snacks:search' '과자' %}" target="">
            <h3 style="text-align:center; " name="kw">과자</h3>
        </a><br>
        <a href="{% url 'snacks:search' '사탕' %}" target="">
            <h3 style="text-align:center; " name="kw">사탕</h3>
        </a><br>
        <a href="{% url 'snacks:search' '초콜릿' %}" target="">
            <h3 style="text-align:center; " name="kw">초콜릿</h3>
        </a><br>
        <a href="{% url 'snacks:search' '해외과자' %}" target="">
            <h3 style="text-align:center; " name="kw">해외과자</h3>
        </a><br>
    </div>
</div>
<!-- 사이드바 종료-->
    
<section class="row justify-content-end">
    <!-- 카테고리, 제품 등록 -->
    <div class="mt-5 d-grid gap-2 d-md-flex justify-content-center">
        {% if request.user.is_staff %}
        <a href="{% url 'snacks:category_create' %}"><button type="button submit" class="btn"
                style="font-size:15px; margin-right: 10px;">카테고리등록</button></a>
        <a href="{% url 'snacks:create' %}"><button type="button submit" class="btn"
                style="font-size:15px; margin-right: 10px;">제품등록</button></a>
        <a href="{% url 'orders:order_list' %}"><button type="button submit" class="btn" style="font-size:15px;">주문 내역
                관리</button></a>
        {% endif %}
    </div>
    <!-- 카테고리, 제품 등록 종료 -->

    <div class="col-11">        
        <!-- 캐러셀 영역 -->
        <div class="d-flex justify-content-around">
            <!-- 최신순 캐러셀 -->
            <div id="carouselExampleIndicators_new" class="carousel slide mt-3" style="width: 30%; height: 270px;" data-bs-ride="false">
                <h1 class="text-center">최신순</h1>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <!-- 캐러셀 아이템 for문 -->
                    <div class="carousel_div">
                        {% for new in snack_id %}
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'snacks:detail' new.pk %}">
                                    <img src="{{ new.snack_image.url }}" class="d-block" alt="...">
                                    <h5 class="text-center">{{ new.name }}</h5>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide="prev">
                    <img src="https://img.icons8.com/plasticine/100/000000/left-squared.png"/>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_new" data-bs-slide="next">
                    <img src="https://img.icons8.com/plasticine/100/000000/forward.png"/>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 최신순 캐러셀 종료-->

            <!-- 리뷰 많은순 캐러셀 -->
            <div id="carouselExampleIndicators_star" class="carousel slide mt-3" style="width: 30%; height: 270px;" data-bs-ride="false">
                <h1 class="text-center">리뷰 많은순</h1>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <!-- 캐러셀 아이템 for문 -->
                    <div class="carousel_div">
                        {% for review in snack_reviews %}
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'snacks:detail' review.pk %}">
                                    <img src="{{ review.snack_image.url }}" class="d-block" alt="...">
                                    <h5 class="text-center">{{ review.name }}</h5>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide="prev">
                    <img src="https://img.icons8.com/plasticine/100/000000/left-squared.png"/>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_star" data-bs-slide="next">
                    <img src="https://img.icons8.com/plasticine/100/000000/forward.png"/>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 리뷰 많은순 캐러셀 종료-->

            <!-- 찜 많은순 캐러셀 -->
            <div id="carouselExampleIndicators_like" class="carousel slide mt-3" style="width: 30%; height: 270px;" data-bs-ride="false">
                <h1 class="text-center">찜 많은순</h1>
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="4" aria-label="Slide 5"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide-to="5" aria-label="Slide 6"></button>
                </div>
                <div class="carousel-inner">
                    <!-- 캐러셀 아이템 for문 -->
                    <div class="carousel_div">
                        {% for like in snack_like %}
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center">
                                <a href="{% url 'snacks:detail' like.pk %}">
                                    <img src="{{ like.snack_image.url }}" class="d-block" alt="...">
                                    <h5 class="text-center">{{ like.name }}</h5>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide="prev">
                    <img src="https://img.icons8.com/plasticine/100/000000/left-squared.png"/>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_like" data-bs-slide="next">
                    <img src="https://img.icons8.com/plasticine/100/000000/forward.png"/>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- 찜 많은순 캐러셀 종료-->
        </div>
        <!-- 캐러셀 영역 종료 -->

         <!-- 상품 배치 및 디폴트 처리 -->
        <div class="container mt-5">
            <div class="row">
                {% for snack in snacks %}
                <div class="col-4 p-5 d-flex">
                    <!-- 상품 카드 -->
                    <a href="{% url 'snacks:detail' snack.pk %}">
                        {% if snack.snack_image %}
                        <img src="{{ snack.snack_image.url }}" class="card-img-top" alt="스낵이미지">

                        {% else %}
                        <img class="profile" style="width:100%; height:300px;"
                            src="https://i.esdrop.com/d/t/bvRLlOwptP/2jK4vs4YjI.jpg" alt="스낵디폴트">

                        {% endif %}
                        <h3 class="card-text"
                            style="position:static; text-align:center; margin:5px; text-decoration:none; color:black; margin-top: 12px;">
                            {{snack.name}}
                            <span class="badge badge-primary"style="margin-left:12px;padding:5px;font-size:25px">{{ snack.category}}</span>
                        </h3>
                        <div class="card-text a_title"
                            style="text-align:center; text-decoration:none; color:black; font-size:20px;">{{snack.price}}원 
                            {% if 10 >= snack.stock %}
                                <h4 class="badge badge-secondary" style="padding:5px;font-size:18px">품절임박</h4>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- 상품 배치 및 디폴트 처리 종료 -->
    </div>
</section>
<!-- 캐러셀 script -->
<script>
    //최신순 캐러셀 active
    const carouselItems_new = document.querySelectorAll("#carouselExampleIndicators_new .carousel_div > .carousel-item");
    const startCarousel_new = carouselItems_new[0]
    //별점순 캐러셀 active
    const carouselItems_star = document.querySelectorAll("#carouselExampleIndicators_star .carousel_div > .carousel-item");
    const startCarousel_star = carouselItems_star[0]
    //좋아요순 캐러셀 active
    const carouselItems_like = document.querySelectorAll("#carouselExampleIndicators_like .carousel_div > .carousel-item");
    const startCarousel_like = carouselItems_like[0]

    window.onload = function () {
      startCarousel_new.classList.add("active");
      startCarousel_star.classList.add("active");
      startCarousel_like.classList.add("active");
    };
  </script>
{% endblock %} 

