{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
  {% load django_bootstrap5 %}
  <!-- 활동지수 top3 -->
  <section class="row justify-content-end">

    <div class="sidebar" style="border-radius: 3%;">
      <!--menu item-->
      <br>
      <h2 style="text-align:center; background-color:#FAD4AE">카테고리 선택</h2>
      <div id="catebar"><br><br>
        <!-- 사이드바 카테고리 -->
        {% for category in snack_category %}
          <a href="{% url 'snacks:search' category.category %}" target="">
            <h3 style="text-align:center; ">{{ category.category }}</h3>
          </a><br>
        {% endfor %}
      </div>
    </div>
    <!-- 사이드바 종료-->

    <div class="col-11">
      <!-- 카테고리, 제품 등록 종료 -->
      <br><br>
      <div class="d-flex flex-column text-center border rounded-pill mt-3 mb-5">
        {% if top1 and top2 and top3 %}
          <div class="mt-4">
            <h3>활동지수 Top 3</h3>
          </div>
          <div class="d-flex flex-row justify-content-center">
            <div class="top" style="float: left;">
              <h5><img style="width: 55px;" src="https://i.esdrop.com/d/f/bvRLlOwptP/tmpENG5GoK.png">{{ top1 }}</h5>
            </div>
            <div class="top" style="float: left;">
              <h5><img style="width: 51px;" src="https://i.esdrop.com/d/f/bvRLlOwptP/G8Jl5tvNb6.png">{{ top2 }}</h5>
            </div>
            <div class="top">
              <h5><img style="width: 57px;" src="https://i.esdrop.com/d/f/bvRLlOwptP/NLWUtWp7Jv.png">{{ top3 }}</h5>
            </div>
          </div>
        {% else %}
          <h5>아직 활동지수가 집계되지 않았어요!</h5>
        {% endif %}
      </div>

      <!-- top6 캐러셀 -->
      <div id="carouselExampleIndicators_top6" class="carousel slide mt-5" style="width: 100%; height: 320px;" data-bs-ride="false">
        <h1 class="text-center mb-3">순삭랭킹 Top 6</h1>
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators_top6" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators_top6" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators_top6" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel_div">
            <!-- 찜하기 -->
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                  <div class="text-center">
                    <h3>🏆 실시간 인기 상품 🏆</h3>
                  </div>
                  <!-- 캐러셀 아이템 for문 -->
                  <div class="d-flex">
                    {% for like in snack_like %}
                      <a href="{% url 'snacks:detail' like.pk %}">
                        {% if like.snack_image %}
                          <img src="{{ like.snack_image.url }}" class="d-block" alt="...">
                        {% else %}
                          <img src="{% static 'images/cookies.png' %}" class="d-block" alt="...">
                        {% endif %}
                        <h5 class="text-center">{{ like.name }}</h5>
                      </a>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <!-- 최신순 -->
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                  <div class="text-center">
                    <h3>🆕 신제품 업데이트 🆕</h3>
                  </div>
                  <!-- 캐러셀 아이템 for문 -->
                  <div class="d-flex">
                    {% for new in snack_id %}
                      <a href="{% url 'snacks:detail' new.pk %}">
                        {% if new.snack_image %}
                          <img src="{{ new.snack_image.url }}" class="d-block" alt="...">
                        {% else %}
                          <img src="{% static 'images/cookies.png' %}" class="d-block" alt="...">
                        {% endif %}
                        <h5 class="text-center">{{ new.name }}</h5>
                      </a>
                      {% empty %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
            <!-- 리뷰순 -->
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                  <div class="text-center">
                    <h3>⭐ 가장 많은 리뷰를 받았어요 ⭐</h3>
                  </div>
                  <!-- 캐러셀 아이템 for문 -->
                  <div class="d-flex">
                    {% for review in snack_reviews %}
                      <a href="{% url 'snacks:detail' review.pk %}">
                        {% if review.snack_image %}
                          <img src="{{ review.snack_image.url }}" class="d-block" alt="...">
                        {% else %}
                          <img src="{% static 'images/cookies.png' %}" class="d-block" alt="...">
                        {% endif %}
                        <h5 class="text-center">{{ review.name }}</h5>
                      </a>
                      {% empty %}
                      d
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators_top6" data-bs-slide="prev">
          <img src="https://img.icons8.com/plasticine/100/000000/left-squared.png"/>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators_top6" data-bs-slide="next">
          <img src="https://img.icons8.com/plasticine/100/000000/forward.png"/>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- 캐러셀 종료 -->

      <!-- 상품 배치 및 디폴트 처리 -->
      <div class="container mt-5">
        <div class="row">
          {% for snack in snacks %}
            <div class="col-4 p-5 d-flex">
              <!-- 상품 카드 -->
              <a href="{% url 'snacks:detail' snack.pk %}">
                {% if snack.snack_image %}
                  <div class="banner_img">
                    <img src="{{ snack.snack_image.url }}" class="card-img-top" alt="스낵이미지">
                  </div>
                {% else %}
                  <div class="banner_img">
                    <img class="profile" style="width:100%; height:300px;" src="https://i.esdrop.com/d/t/bvRLlOwptP/2jK4vs4YjI.jpg" alt="스낵디폴트">
                  </div>
                {% endif %}
                <h3 class="card-text" style="position:static; text-align:center; margin:5px; text-decoration:none; color:black; margin-top: 12px;">
                  <span class="badge badge-primary" style="margin-right:10px;padding:5px;font-size:25px">
                    {{ snack.category }}</span>{{snack.name}}
                </h3>
                <div class="card-text a_title" style="text-align:center; text-decoration:none; color:black; font-size:20px;">
                  {{snack.price|intcomma}}원
                  {% if 10 >= snack.stock %}
                    <h4 class="badge badge-secondary" style="padding:5px;font-size:18px">품절임박</h4>
                  {% endif %}
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <!-- 상품 배치 및 디폴트 처리 종료 -->
    </div>
  </section>

{% endblock %}