{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block content %}

  <div class="row d-flex justify-content-center py-5">
    <div class="justify-content-center align-items-center shadow p-5 rounded-5">
      <div>
        <h1 style="width: 500px; background-color: #FAD4AE; height: 50px; margin-bottom:20px; text-align:center;">이 과자를 찾으셨나요?</h1>
      </div>
      <div class="row">
        {% for snack in snacks %}
          <div class="col-4 p-5 d-flex">
            <a href="{% url 'snacks:detail' snack.pk %}">
              {% if snack.snack_image %}
                <div class="banner_img">
                  <img src="{{ snack.snack_image.url }}" class="card-img-top" alt="스낵이미지">
                </div>
              {% else %}
                <div class="banner_img">
                  <img class="profile" style="width:100%; height:300px;" src="https://i.esdrop.com/d/t/bvRLlOwptP/2jK4vs4YjI.jpg" alt="스낵디폴트">
                </div>
              {% endif %}

              <h3 class="card-text" style="text-align:center; margin:5px; text-decoration:none; color:black; margin-top: 12px;">
                <span class="badge badge-primary" style="margin-right:10px;padding:5px;font-size:25px">{{ snack.category }}</span>{{snack.name}}
              </h3>
              <div class="card-text a_title" style="text-align:center; text-decoration:none; color:black; font-size:20px;">
                {{snack.price}}원

                {% if 0 == snack.stock %}
                <h4 class="badge badge-dark" style="margin-left:5px;padding:5px;font-size:18px">품절</h4>
                {% elif 10 >= snack.stock %}
                <h4 class="badge badge-secondary" style="padding:5px;font-size:18px">품절임박</h4>
                {% else %}
                {% endif %}
              
              </div>
            </a>
          </div>
          {% empty %}
          <div class="d-flex flex-column mt-5">
            <div class="d-flex justify-content-center">
              <img src="{% static 'images/sorry.png' %}" style="width: 200px; height: 200px;" alt="sorry">
            </div>
            <div class="text-center">
              <h3 class="text-muted">아직 준비되지 않은 상품이에요</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}